<div class="vg-page page-home" id="home" style="background-image: url(assets/img/bg_image_1.jpg);">
    <div class="caption wow zoomInUp">
        <h1 class="fw-normal">Welcome</h1>
        <h2 class="fw-medium fg-theme">{{name}}</h2>
        <p class="tagline">{{profession}}</p>
    </div>
</div>