<div class="minibar">
    <div class="header">
        <div class="brand">

        </div>
    </div>
    {{> navbar}}
    <div class="footer">
        <div class="social-menu">
        </div>
    </div>
</div>