<div class="minibar">
    <div class="header">
        <div class="brand">

        </div>
    </div>
    {{> navbar}}
    <div class="footer">
        <div class="social-menu">
        </div>
    </div>
</div>
<div class="vg-main-wrapper">
    <h1 class="text-center">Admin panel</h1>

        <div class="container">
            <h2 class="text-center">Personal information</h2>
            <form class="personal-information">
                <div class="form-group">
                    <label for="myname">Name</label>
                    <input type="text" class="form-control" id="myname" name="myname" aria-describedby="emailHelp" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="password" class="form-control" id="surname" placeholder="Enter your surname" name="surname">
                </div>
                <div class="form-group">
                    <label for="profession">Profession</label>
                    <input type="password" class="form-control" id="profession" name="profession" placeholder="Profession">
                </div>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <label class="custom-file-label" for="avatar">Load your photo</label>
                        <input type="file" class="custom-file-input" id="avatar" aria-describedby="inputGroupFileAddon01" name="avatar">
                    </div>
                </div>
                <button type="submit" class="btn btn-theme btn-contact mt-3 wow fadeInUp ml-1">Submit</button>
            </form>
        </div>


</div>

